<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>'Administration Réseau</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header, footer {
            background: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        section {
            margin: 20px 0;
        }
        .flash-message {
            margin: 10px 0;
            padding: 10px;
            background-color: #f2dede;
            border: 1px solid #eed3d7;
            color: #b94a48;
        }
        form {
            margin-bottom: 20px;
        }
        form input, form button {
            padding: 10px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Administration Réseau</h1>
    </header>
    <div class="container">
        
        <section>
            <h2>Scan de Réseau</h2>
            <form action="/scan" method="post">
                <input type="text" name="ip_address" placeholder="Adresse IP" required>
                <button type="submit">Scanner</button>
            </form>
        </section>

        <section>
            <h2>Sauvegarde des Résultats</h2>
            <form action="/backup" method="post">
                <button type="submit">Sauvegarder les résultats</button>
            </form>
        </section>

        <section>
    <h2>Statut de la Machine</h2>
    <form id="pingForm" action="/ping" method="post">
        <input type="text" id="target" name="target" placeholder="Adresse IP pour ping" required>
        <button type="submit">Vérifier l'État</button>
    </form>
    <div id="pingResult">
        {% if ping_result %}
        <p>La machine {{ host }} est {{ ping_result }}.</p>
        {% endif %}
    </div>
</section>

<script>
    document.getElementById('pingForm').onsubmit = function(e) {
        e.preventDefault();
        const target = document.getElementById('target').value;
        fetch('/ping', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `target=${encodeURIComponent(target)}`
        })
        .then(response => response.text())
        .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            document.getElementById('pingResult').innerHTML = doc.getElementById('pingResult').innerHTML;
        });
    };
</script>
<section>
        <h2>Afficher Tous les Résultats des Scans Réseau</h2>
        <button id="loadAllScans" type="button">Voir Tous les Scans</button>
        <div id="allScansResults"></div>
    </section>
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const loadScansButton = document.getElementById('loadAllScans');
        const allScansResults = document.getElementById('allScansResults');
    
        function fetchAndDisplayFileContent(fileName) {
            fetch(`/scans/${fileName}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur réseau: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(content => {
                    // Ici, vous affichez le contenu du fichier JSON
                    // Vous pouvez l'ajouter à un élément sur la page, comme un div préformaté
                    const pre = document.createElement('pre');
                    pre.textContent = JSON.stringify(content, null, 2);
                    allScansResults.innerHTML = ''; // Efface le contenu précédent
                    allScansResults.appendChild(pre);
                })
                .catch(error => {
                    allScansResults.textContent = `Erreur lors du chargement du fichier ${fileName}: ${error.message}`;
                    console.error('Erreur:', error);
                });
        }
    
        loadScansButton.addEventListener('click', function() {
            allScansResults.innerHTML = 'Chargement...';
            
            fetch('/all_scans')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur réseau: ' + response.statusText);
                    }
                    return response.json();
                })
                .then(fileNames => {
                    allScansResults.innerHTML = ''; // Efface le contenu précédent
                    const list = document.createElement('ul');
    
                    fileNames.forEach(fileName => {
                        const listItem = document.createElement('li');
                        const link = document.createElement('a');
                        link.textContent = fileName;
                        link.href = '#';
                        link.addEventListener('click', function(event) {
                            event.preventDefault();
                            fetchAndDisplayFileContent(fileName);
                        });
                        listItem.appendChild(link);
                        list.appendChild(listItem);
                    });
    
                    allScansResults.appendChild(list);
                })
                .catch(error => {
                    allScansResults.textContent = `Erreur lors du chargement des fichiers: ${error.message}`;
                    console.error('Erreur lors de la récupération des fichiers:', error);
                });
        });

        
    });
    </script>

</div>
<footer>
    <p>Administration Réseau &copy; 2024</p>
</footer>

</body>
</html>

